.card {
    margin: 0 0 1rem;
    min-width: 14%;
}

.card-title {
    text-align: center;
    margin: 0;
}

.temperature-container {
    display: flex;
    justify-content: space-evenly;
}

.min-temp {
    color: #aaa;
}
